/* Reset */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;outline:0;}
article, aside, figure, footer, header, hgroup, nav, section {display:block;}
img, object, embed {max-width:100%;}
ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
del {text-decoration:line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted #000; cursor:help;}
table {border-collapse:collapse; border-spacing:0; font-size:inherit; font:100%;}
th {font-weight:bold; vertical-align:bottom;}
td {font-weight:normal; vertical-align:middle;}
hr {display:block; height:1px; border:0; border-top:1px solid #CCC; margin:10px 0; padding:0;}
input, select {vertical-align:middle;}
pre {white-space:pre; white-space:pre-wrap; white-space:pre-line; word-wrap:break-word;}
input[type="radio"] {vertical-align:text-bottom;}
input[type="checkbox"] {vertical-align:bottom; *vertical-align:baseline;}
input:focus,textarea:focus{outline: none}
a:hover, a:active {outline:none;}
small {font-size:85%;}
strong, th {font-weight:bold;}
td, td img {vertical-align:top;}
sub, sup {font-size:75%; line-height:0; position:relative;}
sup {top:-0.5em;}
sub {bottom:-0.25em;}
pre, code, kbd, samp {font-family: monospace, sans-serif;}
.clickable, label, input[type=button], input[type=submit], button {cursor:pointer;}
body, select, input, textarea {color:#808080;}
button, input, select, textarea {margin:0; resize:none;}
button {width:auto; overflow:visible;}
.ie7 img {-ms-interpolation-mode:bicubic;}
ins {background:#FCD700; color:#000; text-decoration:none;}
mark {background:#FCD700; color:#000; font-style:italic; font-weight:bold;}
::-moz-selection{background:#36609c; color:#FFF; text-shadow:none;}
::selection {background:#36609c; color:#FFF; text-shadow:none;}

/* toolbox */
.left {float:left;}
.right {float:right;}
.hide {display:none !important;}
.clear {clear:both;}
.screen-reader {position:absolute; top:-99999px; visibility:hidden;}
/* clearfix */
.cf:before, .cf:after {content:''; display:table;}
.cf:after {clear:both;}
.cf {*zoom:1;}
/* page style */
body{font:16px Arial, sans-serif;}
a{text-decoration:none;}
*{box-sizing: border-box;}